<!--
    Program: NetdLab4_students4cheaptext
    Name: Jacky Yuan
    Date: Nov. 17, 2020
    -->


@{
    ViewData["Title"] = "Bad";
}

<!DOCTYPE HTML>

<html>

<head>
    <title>Error</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />


</head>

<body>

    <!-- Title -->
    <h1 style="text-align:center">Students4CheapTexts <img src="~/images/book.jpg" width="70" height="70" /></h1>

    <!-- Nav bar-->
    <ul>
        <li><a href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Appraise">Appraise</a></li>
        <li><a href="~/Home/ViewAppraisal">View Appraisals</a></li>



    </ul>
    <!-- content -->
    <h3 style="text-align:center"> The textbook appraisal could not be completed. You entered something incorrectly.</h3>


</body>

</html>
